__pycache__/
*.py[cod]

# virtualenv
/env/

# submodule
/mini_fiction/
/localstatic/
/node_modules/

/.env
/.flaskenv
/sphinx/
/media/
/dump/
/static/
/local_settings.py
/fabfile.py
*.sqlite3
/celerybeat-schedule
/celerybeat.pid
